---
// mocks
import { TABLES_COUNTRY } from '@app/mocks/tableContent';
export interface ITABLES_COUNT {
  NameEntity?: string;
  Address?: string;
  Country?: string;
  AppliedSafeguards?: string;
}

const { classname = '' } = Astro.props;

// styles
const styleTableRow = '*:py-[25px] *:pr-[50px]';
const styleBorder = '*:border-b border-[#ebebeb]';
---

<table class={`my-10 text-left ${classname}`}>
  <thead class={`${styleBorder}`}>
    <tr class={`${styleTableRow}`}>
      <th>Name Entity</th>
      <th>Address</th>
      <th>Country</th>
      <th>AppliedSafeguards</th>
    </tr>
  </thead>
  <tbody class={`${styleBorder}`}>
    {
      TABLES_COUNTRY.map(
        ({ NameEntity, Address, Country, AppliedSafeguards }) => (
          <tr class={`${styleTableRow}`}>
            <td>{NameEntity}</td>
            <td>{Address}</td>
            <td>{Country}</td>
            <td>{AppliedSafeguards}</td>
          </tr>
        ),
      )
    }
  </tbody>
</table>
